@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    transition: all ease;
    animation:flow 3s infinite both
}
.pulse {
    transition: all ease;
    animation: pulse 5s infinite both;
}
button:disabled {
    cursor: not-allowed;
    background-color: gray!important;
}
button:disabled > *.absolute {
    background: gray!important;
}
.custom_ellipse {
    display: -webkit-box!important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.add_comma:not(:last-child)::after {
    content: ",";
    margin-right: 5px;
}
@keyframes flow {
    0% {left: -20%;}
    50% {left: 90%}
    100% {left: -20%;}
}

@keyframes pulse {
    0% {height: 70%}
    50% {height: 40%}
    100% {height: 70%}
}