@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
    transition: all ease;
    animation:flow 3s infinite both
}
.pulse {
    transition: all ease;
    animation: pulse 5s infinite both;
}
@keyframes flow {
    0% {left: -20%;}
    50% {left: 90%}
    100% {left: -20%;}
}

@keyframes pulse {
    0% {height: 70%}
    50% {height: 40%}
    100% {height: 70%}
}